= form_for @seat do |form|
  .form-group
    = form.label :name, t('seats.index.seat_code')
    = form.text_field :name, class: 'form-control'

  %br

  .form-group
    = form.label :name, t('seats.index.department') 
    %br
    = form.collection_select :department_id, Department.order(:name), :id, :name
  
  %br

  .form-group
    = form.label :name, t('seats.new.coordinates')
    = form.text_field :coordinates, class: 'form-control'

  %br

  = form.submit t('seats.new.save')
%br

%a.btn.btn-default{ href: seats_path }= t('seats.new.back_to_list')
