= form_for @seat do |form|
  .form-group
    = form.label :name, t('seats.index.seat_code')
    = form.text_field :name, class: 'form-control'

  %br

  .form-group
    = form.label :name, t('seats.index.department') 
    %br
    = form.select :department_id, options_for_select(Department.all.map{|o| [o.name, o.id] }), {}, { class: 'form-select' }
  
  %br

  .form-group
    = form.label :name, t('seats.new.coordinates')
    = form.text_field :coordinates, class: 'form-control'

  %br

  = form.submit t('seats.new.save'), class: 'btn btn-primary'
%br

%a.btn.back_button.mt-5{ href: seats_path }= t('seats.new.back_to_list')
