.row
  .col-6= paginate @seats
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @seats

%table.table.table-primary.index_table
  %thead
    %tr
      %th= t('seats.index.seat_code')
      %th= t('seats.index.department')
      %th
      %th
      %th
    %tbody
      - @seats.each do |seat|
        %tr
          %td= seat.name
          %td= seat.department.name if seat.department_id.present?
          %td
            - if can? :read, seat
              %a.index_button_show{ href: seat_path(seat), class: 'btn' }= t('seats.index.show')
          %td
            - if can? :delete, seat
              %a{ href: seat_path(seat), data: { method: :delete }, class:'btn btn-danger'}= t('seats.index.delete')
          %td
            - if can? :edit, seat
              %a.index_button_edit{ href: edit_seat_path(seat), class:'btn'}= t('seats.index.edit')

.row
  .col-6= paginate @seats
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @seats
