%h5.show_headline= "#{t('seats.index.seat_code')}: #{@seat.name}"

%table.table.detail_table.mt-5
  %tbody
    %tr
      %td= t('seats.index.seat_code')
      %td= @seat.name

    %tr
      %td= t('seats.index.department')
      %td= @seat.department.name

    %tr
      %td= t('seats.index.shape')
      %td= @seat.shape

.btn.back_button.mt-5 
  = link_to t('seats.show.back_to_list'), seats_path, class: 'btn'

-if can?(:edit, current_user)
  .btn.index_button_edit.mt-5
    = link_to t('seats.edit.edit_seat'), edit_seat_path(params[:id]), class: 'btn'