%h5.show_headline= "#{t('seats.index.seat_code')}: #{@seat.name}"

%table.table.detail_table.mt-5
  %tbody
    %tr
      %td= t('seats.index.seat_code')
      %td= @seat.name

    %tr
      %td= t('seats.index.department')
      %td= @seat.department.name

    %tr
      %td= t('seats.index.shape')
      %td= @seat.shape

%a.btn.back_button.mt-3{href: seats_path }= t('seats.new.back_to_list')
