= form_for @user do |form|
    .form-group
        = form.label :name, t('users.index.first_name')
        = form.text_field :first_name, class: 'form-control'
    %br
    .form-group
        = form.label :name, t('users.index.last_name')
        = form.text_field :last_name, class: 'form-control'
    %br
    .form-group
        = form.label :name, t('users.index.email')
        = form.text_field :email, class: 'form-control'
    %br
    .form-group
        = form.label :name, t('users.index.department')
        %br
        = form.select :department_id, options_for_select(Department.all.map{|o| [o.name, o.id] }), {}, { class: 'form-select' }

    %br
    .form-group
        = form.label :name, t('users.index.type')
        %br
        = form.select :user_type_id, options_for_select(UserType.all.map{|o| [o.name, o.id] }), {}, { class: 'form-select' }

    %br

    = form.submit value: t('users.edit.submit'), class: 'btn btn-primary'

%a.btn.back_button.mt-5{ href: users_path }= t('users.show.back_to_list') 