.row
  .col-6= paginate @users
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @users

%table.table.table-primary.table-center.index_table 
  %thead
    %tr
      %th= t('users.index.first_name')
      %th= t('users.index.last_name')
      %th= t('users.index.email')
      %th= t('users.index.department')
      %th
      %th
      %th
            
  %tbody
    - @users.each do |user|
      %tr
        %td= user.first_name
        %td= user.last_name
        %td= user.email
        %td= user.department.name if user.department_id.present?
        %td
          - if can? :read, user
            %a.index_button_show{ href: user_path(user), class: 'btn' }= t('users.index.detail')
        %td
          - if can? :delete, user
            = link_to t('users.index.delete'), user, method: :delete, data: { confirm: t('users.index.confirm_delete') }, class: 'btn btn-danger'
        %td
          - if can? :edit, user
            %a.index_button_edit{ href: edit_user_path(user), class:'btn'}= t('users.index.edit')

.row
  .col-6= paginate @users
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @users
