%table.table.table-bordered.table-primary.table-striped.table-center
    %thead.table-dark
        %tr
            %th= 'First name'
            %th= 'Last name'
            %th= 'Email'
            %th= 'Department'
            
    %tbody
        - @users.each do |user|
            %tr
                %td= user.first_name
                %td= user.last_name
                %td= user.email
                %td= user.department.name if user.department_id.present?
                %td
                    %a{ href: user_path(user), target:'_blank', class: 'btn btn-info' }= 'Detail'
                %td
                    = link_to 'Delete', user, method: :delete, data: { confirm: 'Do you want to delete user?' }, class: 'btn btn-danger'
                %td
                    %a{ href: edit_user_path(user), class:'btn btn-success'}= 'Edit'
