
%table{:width=>"50%",:border=>"1", :cellpadding=>'5px'}
  %tbody
    %tr
      %td= t('users.show.whole_name')
      %td= @user.first_name + ' ' + @user.last_name

    %tr
      %td= t('users.show.email')
      %td= @user.email

    %tr
      %td= t('users.show.department')
      %td= @user.department.name

    %tr
      %td= t('users.show.type')
      %td= @user.user_type.name

    %tr
      %td= t('users.show.last_sign_in')
      %td= @user&.last_sign_in_at&.getlocal

    %tr
      %td= t('users.show.is_user_discarded')
      %td= @user&.is_discarded

    %tr
      %td= t('users.show.invitation_sent')
      %td= @user&.invitation_sent_at&.getlocal

    %tr
      %td= t('users.show.invitation_accepted')
      %td= @user&.invitation_accepted_at&.getlocal

%br

%a.btn.btn-primary{ href: users_path}= t('users.show.back_to_list')
