
%table{:border => 1}
    %tbody
    %tr
        %td= 'Name'
        %td= @user.first_name + ' ' + @user.last_name

    %tr
        %td= 'Email'
        %td= @user.email

    %tr
        %td= 'Is discarded'
        %td= @user.is_discarded

%a.btn.btn-primary{ href: users_path}= t('users.show.back_to_list')