%h2= t('devise.password.change_password_title')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
  = render "devise/shared/error_messages", resource: resource
  = f.hidden_field :reset_password_token
  .field
    = f.label :password, t('devise.password.new_password')
    %br/
    - if @minimum_password_length
      %em
        = t('devise.password.minimum_characters_count', minimum_password_length: @minimum_password_length)
      %br/
    = f.password_field :password, autofocus: true, autocomplete: "new-password"
  .field
    = f.label :password_confirmation, t('devise.password.new_password_confirm')
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password"
  .actions
    = f.submit t('devise.password.change_password_button')
= render "devise/shared/links"
