= form_for @department do |form|
  .form-group
    = form.label :name, t('departments.new.name')
    = form.text_field :name, class: 'form-control'
  %br
  .form-group
    = form.label :name, t('departments.new.department_code')
    = form.text_field :code, class: 'form-control'

  %br
  = form.submit t('departments.new.create_department_button'), class: 'btn btn-primary'

%br

%a.btn.back_button.mt-5{ href: departments_path }= t('departments.new.back_to_list')
