.row
  .col-6= paginate @departments
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @departments

%table.table.table-primary.table-center.index_table 
  %tr
    %th= t('departments.index.department_name')
    %th= t('departments.index.department_code')
    - if can? :read, Department
      %th
    - if can? :delete, Department
      %th
    - if can? :edit, Department
      %th
  %tbody
    - @departments.each do |department|
      %tr
      %td= department.name
      %td= department.code
      -if can? :read, Department
        %td
          %a.index_button_show{ href: department_path(department), class:'btn' }= t('departments.index.detail')
      - if can? :delete, Department
        %td
          %a{ href: department_path(department), data: { method: :delete }, class:'btn btn-danger'}= t('departments.index.delete')
      - if can? :edit, Department
        %td
          %a.index_button_edit{ href: edit_department_path(department),  class:'btn'}= t('departments.index.edit')

.row
  .col-6= paginate @departments
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @departments
