%table.table.table-bordered
    %thead
        %tr
            %th= 'Department'
            %th= 'Whole name'
            %th
            %th
            %th
    %tbody
        - @departments.each do |department|
            %tr
                %td= department.name
                %td= department_name(department.name)
                %td
                    %a{ href: department_path(department), target:'_blank', class:'btn btn-info' }= 'Detail'
                %td
                    %a{ href: department_path(department), data: { method: :delete }, class:'btn btn-danger'}= 'Delete'
                %td
                    %a{ href: edit_department_path(department),  class:'btn btn-success'}= 'Edit'
