%h5.show_headline= "#{t('departments.index.department_name')}: #{@department.name}"

%table.table.detail_table.mt-5
  %tbody
    %tr
      %td= t('departments.index.department_name')
      %td= @department.name

    %tr
      %td= t('departments.index.department_code')
      %td= @department.code

    %tr
      %td= t('departments.show.users_count')
      %td= @department.users.count

    %tr
      %td= t('departments.show.seats_count')
      %td= @department.seats.count

%br

%a.btn.back_button.mt-5{ href: departments_path }= t('departments.new.back_to_list')
