.row
  .col-6= paginate @reservations
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @reservations

%table.table.table-primary.table-center.index_table
  %thead
    %tr
      %th= t('reservations.table.seat_code')
      %th= t('reservations.table.reserved_by')
      %th= t('reservations.form.date_from')
      %th= t('reservations.form.date_to')
      - if can? :read, Reservation
        %th
      - if can? :delete, Reservation
        %th
      - if can? :edit, Reservation
        %th
  %tbody
    - @reservations.each do |reservation|
      %tr
        %td= reservation.seat&.name 
        %td= "#{reservation.user&.first_name} #{reservation.user&.last_name}"
        %td= reservation.from
        %td= reservation.to
        %td
          - if can? :read, reservation
            %a.index_button_show{ href: reservation_path(reservation), class: 'btn' }= t('reservations.table.detail')
        %td
          - if can? :delete, reservation
            %a{ href: reservation_path(reservation), data: { method: :delete }, class:'btn btn-danger'}= t('reservations.table.delete')
        %td
          - if can? :edit, reservation
            %a.index_button_edit{ href: edit_reservation_path(reservation), class:'btn btn-success'}= t('reservations.table.edit')


.row
  .col-6= paginate @reservations
  .col-6
    %div{ style: 'float: right;' }= page_entries_info @reservations