%h1= t('reservations.index.list_of_reservations')

= form_tag submit_from_map_reservations_path do

  - if @reservation && @reservation.errors.present?
    .alert.alert-danger
      %ul.list-unstyled
        - @reservation.errors.full_messages.each do |message|
          %li= message

  = date_field_tag :from, params[:from], min: Date.today
  = date_field_tag :to, params[:to], min: Date.today

  = button_tag name: nil, class: 'btn btn-primary' do
    = t('reservations.map.show_seats')

  = hidden_field_tag :seat_id, params[:seat_id]

  .mt-3
    = image_tag("floor_map120_transparent", alt: "floor_map120", usemap:"#image-map", class: "map" )

  %map.image-map{ name: 'image-map' }
    - @seats.each do |seat|
      - is_free = @reservations_by_seat.key?(seat.id)
      - color = is_free ? 'FA8072' : '3CB371' # FA8072 = red, 3CB371 = green
      - area_class_name = is_free ? '' : 'is_seat_free'

      %area{ alt: seat.name, coords: seat.coordinates, shape: seat.shape, title: seat.name, class: "{fillColor:'#{color}'} #{area_class_name}", data: { id: seat.id } }

  .mt-3.btn
    = button_tag name: 'type', id: 'reserve_button', value: 'reserve', class: 'btn btn-primary' do # Toto ked kliknem, tak v controlleri sa mi to ulozi
      = t('reservations.map.reserve')
