%h5.show_headline= "#{t('reservations.show.reservation_id')}: #{@reservation.id}"

%table.table.detail_table.mt-5
  %tbody
    %tr
      %td= t('reservations.show.reservation_id')
      %td= @reservation.id

    %tr
      %td= t('reservations.show.user')
      %td= @reservation.user.full_name
      
    %tr
      %td= t('reservations.show.seat')
      %td= @reservation.seat.name

    %tr
      %td= t('reservations.show.from')
      %td= @reservation.from

    %tr
      %td= t('reservations.show.to')
      %td= @reservation.to

    %tr
      %td= t('reservations.show.days_count')
      %td= (@reservation.from..@reservation.to).count

    %tr
      %td= t('reservations.show.created_at')
      %td= @reservation.created_at.getlocal

%a.btn.back_button.mt-5{ href: reservations_path }= t('reservations.show.back_to_list')
