%h2= t "devise.invitations.new.header"
= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f|
  = render "devise/shared/error_messages", resource: resource
  - resource.class.invite_key_fields.each do |field|
    .field
      = f.label :email
      %br/
      = f.text_field :email
    .field
      = f.label :first_name
      %br/
      = f.text_field :first_name
    .field
      = f.label :last_name
      %br/
      = f.text_field :last_name
    .field
      = f.label :department_id
      %br/
      = f.collection_select :department_id, Department.order(:name), :id, :name

  .actions
    = f.submit t("devise.invitations.new.submit_button")


